<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<mongo:db-factory id="mongoDbFactory" dbname="retalemine" />

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>

	<mongo:repositories base-package="in.retalemine.repository" />
</beans>

<!--
	<mongo:mongo host="localhost" port="27017" />
 
	<bean id="mongoTemplate" class="org.springframework.data.document.mongodb.MongoTemplate">
		<constructor-arg ref="mongo" />
		<constructor-arg name="databaseName" value="retalemine" />
		<constructor-arg name="defaultCollectionName" value="default" />
	</bean> 
	
	<context:annotation-config />
 -->
 
 <!-- 
 
 	<mongo:db-factory id="mongoDbFactory" dbname="e-store" />
 
 	<mongo:mapping-converter id="mongoConverter" base-package="com.oreilly.springdata.mongodb">
		<mongo:custom-converters base-package="com.oreilly.springdata.mongodb" />
	</mongo:mapping-converter>
	
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongoDbFactory" />
		<constructor-arg ref="mongoConverter" />
		<property name="writeConcern" value="SAFE" />
	</bean>
  -->